<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"  media="all">
</head>
<body class="body">
<table class="layui-hide" id="test"></table>
<script type="text/javascript" src="../static/js/jquery.js"></script>
<script type="text/javascript" src="http://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>movid id</th>
                <th>movid name</th>
                <th>type</th>
                <th>summary</th>
                <th>stars</th>
                <th>rate</th>
                <th>director</th>
                <th>time</th>
                <th>pic</th>

            </tr>
        </thead>
</table>


<script type="text/javascript">
    $(document).ready(function() {
        $('#example').DataTable( {
            "ajax": "/movie_recommendation/recommend_user_movie_list?query={{ user_id }}",
            "columns": [

                { "data": "id" },
                { "data": "movie_name" },
                { "data": "type" },
                { "data": "summary" },
                { "data": "stars" },
                { "data": "rate" },
                { "data": "director" },
                { "data": "time" },
            ],
            "columnDefs": [
            {
                  "targets": [8],
                  "data": "img_url",
                  "render": function(data, type, full) {
                      if(data == null){
                          return
                      }else{
                          return "<img src="+data+" width=50 height=80>";
                      }
                  }
                }
              ]
        } );
    } );
</script>
</body>
</html>