<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>welcome page</title>
    <link rel="stylesheet" href="../static/frame/layui/css/layui.css">
    <link rel="stylesheet" href="../static/frame/static/css/style.css">
    <link rel="icon" href="../static/frame/static/image/code.png">
    <script type="text/javascript" src="../static/js/jquery.js"></script>
    <script src="../static/frame/layui/layui.js"></script>
</head>
<body class="body">

<div class="layui-row layui-col-space10 my-index-main">
    <div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
        <div class="layui-collapse">
            <div class="layui-colla-item">
                <h2 class="layui-colla-title">documentation</h2>
                <div class="layui-colla-content layui-show">

                    <div id="example1" style="height: 650px;"></div>

                </div>
            </div>
        </div>
    </div>

    <div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
        <div class="layui-collapse">
            <div class="layui-colla-item">
                <h2 class="layui-colla-title">information table</h2>
                <div class="layui-colla-content layui-show">

                    <table class="layui-table">
                        <colgroup>
                            <col width="150">
                            <col width="200">
                            <col>
                        </colgroup>
                        <thead>
                        <tr>
                            <th>member name</th>
                            <th>student number</th>
                            <th>responsibility</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Tingfeng Lin</td>
                            <td>z5147976</td>
                            <td>UI, structure, interaction</td>
                        </tr>
                        <tr>
                            <td>Peng Jin</td>
                            <td>z5185874</td>
                            <td>crawling information</td>
                        </tr>
                        <tr>
                            <td>Yang Yang</td>
                            <td>z5147438</td>
                            <td>document, authentication</td>
                        </tr>
                        <tr>
                            <td>Yong Lin</td>
                            <td>z5136783</td>
                            <td>API</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

    <div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
        <div class="layui-collapse">
            <div class="layui-colla-item">
                <h2 class="layui-colla-title">versions</h2>
                <div class="layui-colla-content layui-show">

                    <ul class="layui-timeline max-auto">
                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                            <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title">v1.8.0</h3>
                                <p>
                                    update date:2018-10-16
                                </p>
                                <ul>
                                    <li>almost finish all functions</li>
                                    <li>Film recommendation based on movies that other people like to watch</li>
                                    <li>update welcome page</li>
                                    <li>
                                        <h4>add js functions</h4>
                                        <ul>
                                            <li>
                                                <p>layui.js</p>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>fix BUG</li>
                                </ul>
                            </div>
                        </li>
                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                            <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title">v1.7.0</h3>
                                <p>update date:2018-10-14</p>
                                <ul>
                                    <li>Optimize theme style details</li>
                                    <li>Add a new double click to close the current label function</li>
                                    <li>Label added right button function</li>
                                    <li>fix BUG</li>
                                </ul>
                            </div>
                        </li>
                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                            <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title">v1.6.0</h3>
                                <p>update date:2018-10-13</p>
                                <ul>
                                    <li>Add login function</li>
                                    <li>Add recommended movie features</li>
                                    <li>fix BUG</li>
                                </ul>
                            </div>
                        </li>
                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                            <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title">v1.5.1</h3>
                                <p>udpate date:2018-10-12</p>
                                <ul>
                                    <li>Add a recommendation to the specified user movie function</li>
                                </ul>
                            </div>
                        </li>
                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                            <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title">v1.5.0</h3>
                                <p>update date:2018-10-10</p>
                                <ul>
                                    <li>Integrated neural network function</li>
                                    <li>Data cleaning</li>
                                    <li>Integrated datatable list display function</li>
                                    <li>fix BUG</li>
                                </ul>
                            </div>
                        </li>
                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                            <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title">1.1.0</h3>
                                <p>update date:2018-10-9</p>
                                <ul>
                                    <li>Add a header title to the login page</li>
                                    <li>Add 404 page</li>
                                    <li>This version is compatible with mobile browsing</li>
                                    <li>fix BUG</li>
                                </ul>
                            </div>
                        </li>
                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                            <div class="layui-timeline-content layui-text">
                                <div class="layui-timeline-title">start from 2018-10-08</div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
        <div class="layui-collapse">
            <div class="layui-colla-item">
                <h2 class="layui-colla-title">github repository</h2>
                <div class="layui-colla-content layui-show">
                    <div class="layui-progress layui-progress-big" lay-showPercent="true">
                        <div class="layui-progress-bar layui-bg-blue" lay-percent="100%"></div>
                    </div>
                    <a href="https://github.com/lemonlemon11/comp9321ass3">click to view repository</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="../js/index.js"></script>
<script type="text/javascript" src="../static/js/pdfobject.js"></script>

<script>PDFObject.embed("../static/doc1.pdf", "#example1");</script>
<style>
    .pdfobject-container { height: 30rem; border: 1rem solid rgba(0,0,0,.1); }
</style>
<script type="text/javascript">
    layui.use(['element', 'form', 'table', 'layer', 'vip_tab'], function () {
        var form = layui.form
                , table = layui.table
                , layer = layui.layer
                , vipTab = layui.vip_tab
                , element = layui.element
                , $ = layui.jquery;

        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main-line'));

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption({
            title: {
                text: '示例'
            },
            tooltip: {},
            legend: {
                data: ['销量']
            },
            xAxis: {
                data: ["衬衫", "羊毛衫", "雪纺衫", "裤子", "高跟鞋", "袜子"]
            },
            yAxis: {},
            series: [{
                name: '销量',
                type: 'bar',
                data: [5, 20, 36, 10, 10, 20]
            }]
        });

        // 打开选项卡
        $('.my-nav-btn').on('click', function(){
            if($(this).attr('data-href')){
                //vipTab.add('','标题','路径');
                vipTab.add($(this),'<i class="layui-icon">'+$(this).find("button").html()+'</i>'+$(this).find('p:last-child').html(),$(this).attr('data-href'));
            }
        });

        // you code ...


    });
</script>
</body>
</html>